.DS_store
serverside/webapp/WEB-INF/data/
serverside/webapp/WEB-INF/temp/
logs/
serverside/webapp/website/app/components/javascript/index.js

.classpath

.project

serverside/webapp/WEB-INF/trash/
serverside/webapp/.DS_Store
