<div style='background-image: url("./img/stars.webp");background-repeat: no-repeat; background-attachment: fixed;'>
	<div class="overflow-hidden">
		<div class="container pb-4 space-top-4 features">
			<h1 class="text-center space-bottom-1">Smart Folder Templates</h1>
			<div class="row shadow-sm rounded bg-navy space-2 my-5" data-aos="fade-up" data-aos-duration="1500">
				<div class="col-lg-5 mb-5 mb-lg-0" data-aos="fade-left" data-aos-duration="1500"> 
					<h2>Video Production</h2>
					<ul>
						<li class="list-item">Captures <span class="text-muted">(upload your raw video files from SD cards)</span></li>
						<li class="list-item">Collections <span class="text-muted">(Build finish pieces)</span></li>
						<li class="list-item">Post Production <span class="text-muted">(Create new products)</span></li>
					</ul>
				</div>
				<div class="col-lg-7" data-aos="fade-right" data-aos-duration="1500">
					<div class="shadow-sm template-preview">
						<img class="img-fluid rounded" src="$apphome/templates/img/video.webp" alt="video">
						<a href="#" class="btn btn-xs btn-primary"><i class="fas fa-arrow-down me-1"></i>Download</a>
					</div> 
				</div>
			</div>
			<div class="row shadow-sm rounded bg-navy space-2 my-5" data-aos="fade-up" data-aos-duration="1500">
				<div class="col-lg-5 mb-5 mb-lg-0" data-aos="fade-left" data-aos-duration="1500"> 
					<h2>Marketing Department</h2>
					<ul>
						<li class="list-item"><strong>Automatic Entity Creation</strong></li>
						<li class="list-item"><strong>Automatic Metadata searching</strong> - By date, author or embedded information from the files.</li>
						<li class="list-item"><strong>A self-learning platform</strong> - The AI features will learn as you use the platform, automatically organizing your files more efficiently and becoming more and more searchable.</li>
					</ul>
				</div>
				<div class="col-lg-7" data-aos="fade-right" data-aos-duration="1500">
					<div class="shadow-sm template-preview">
						<img class="img-fluid rounded" src="$apphome/templates/img/marketing.webp" alt="marketing">
						<a href="#" class="btn btn-xs btn-primary"><i class="fas fa-arrow-down me-1"></i>Download</a>
					</div> 
				</div>
			</div>
			<div class="row shadow-sm rounded bg-navy space-2 my-5" data-aos="fade-up" data-aos-duration="1500">
				<div class="col-lg-5 mb-5 mb-lg-0" data-aos="fade-left" data-aos-duration="1500"> 
					<h2>Photo Studio</h2>
					<ul>
						<li class="list-item"><strong>Centralized Storage of high resolution files</strong> - Find a needle in the haystack with AI</li>
						<li class="list-item"><strong>Multi-Language Metadata</strong> - Make use of entity tracking. Track all data records that are related to the assets such as information, Product details, Project codes, etc. in multiple languages</li>
						<li class="list-item"><strong>Online Video Playback</strong> - View and stream videos</li>
					</ul>
				</div>
				<div class="col-lg-7" data-aos="fade-right" data-aos-duration="1500">
					<div class="shadow-sm template-preview">
						<img class="img-fluid rounded" src="$apphome/templates/img/photostudio.webp" alt="photostudio">
						<a href="#" class="btn btn-xs btn-primary"><i class="fas fa-arrow-down me-1"></i>Download</a>
					</div> 
				</div>
			</div>
			<div class="row shadow-sm rounded bg-navy space-2 my-5" data-aos="fade-up" data-aos-duration="1500">
				<div class="col-lg-5 mb-5 mb-lg-0" data-aos="fade-left" data-aos-duration="1500"> 
					<h2>Publishing</h2>
					<ul>
						<li class="list-item"><strong>Built in Media Conversions</strong> - Automatically convert your files online to a desired type</li>
						<li class="list-item"><strong>Editor</strong> - Crop, add filters, rotate or add text</li>
						<li class="list-item"><strong>Share</strong> - Or download your custom conversions and cropped images</li>
					</ul> 
				</div>
				<div class="col-lg-7" data-aos="fade-right" data-aos-duration="1500">
					<div class="shadow-sm template-preview">
						<img class="img-fluid rounded" src="$apphome/templates/img/publish.webp" alt="publish">
						<a href="#" class="btn btn-xs btn-primary"><i class="fas fa-arrow-down me-1"></i>Download</a>
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>