#set($collectionid = $librarycol.getId())
#if(!$collectionid)
	#set($collectionid = $context.getRequestParameter("organizationid"))
	#if($collectionid)
		#set( $librarycol = $mediaarchive.query("librarycollection").exact("id",$collectionid).searchOne() )
	#end
#end
#set($fullwidth = $content.fullwidth)

#set($homelink = "$apphome/collective/community/index.html?collectionid=$collectionid")
#if ($librarycol.assetbanner)
	#set( $banner= $mediaarchive.getAsset($librarycol.assetbanner) )
#end
#set( $logo = $mediaarchive.getAsset($librarycol.assetportrait) )

<div class="collectivelayout #if($logo) collectivelayoutlogo #end" >

<div class="project-title text-center">
	$!librarycol.name

</div>

	$pages.include("$apphome/collective/menu.html", $context)
	
	$pages.includeContent()	

</div>
