<script type="text/javascript" src="$applink/components/javascript/jquery-3.6.0.min.js" onload="if (!window.jQuery) window.$ = window.jQuery = module.exports;"></script>

<script type="text/javascript" src="/${applicationid}/components/javascript/bootstrap/4.5.3/js/popper.min.js" ></script>
<script type="text/javascript" defer src="/${applicationid}/components/javascript/bootstrap/5.2.1/js/bootstrap.bundle.min.js" ></script>
<script type="text/javascript" defer src="/${applicationid}/components/javascript/jquery-ui/1.12/jquery-ui.min.js" ></script>
<script type="text/javascript" defer src="/${applicationid}/components/javascript/jquery-ui/i18n/jquery-ui-i18n.js" ></script>

<script type="text/javascript" defer src="/openedit/components/html/ckeditor/ckeditor.js"></script>


<script type="text/javascript" src="$applink/components/javascript/index.js" ></script>


<!-- move to exact page where needed -->
 	<script cancel="true" id="chatterbox" src="/website/app/components/chatterbox/chatterbox.js"></script>

##This is misc content NOT already included
#foreach( $script in $pageManager.getScriptPathsWithoutApp($content))
	<script type="text/javascript" src="#if(!$script.startsWith("http"))$home#end$script"></script>
#end


#foreach( $style in $pageManager.getStylePathsFor($content) )
	<link rel="stylesheet" type="text/css" href="$style" />
#end

<script type="text/javascript" defer src="$applink/components/javascript/multidate/moment.js" ></script>
<script type="text/javascript" defer src="$applink/components/javascript/multidate/jquery.daterangepicker.min.js" ></script>
<!-- <link rel="stylesheet" type="text/css" href="$applink/components/javascript/multidate/daterangepicker.min.css" /> -->
