<!DOCTYPE html>
<html lang="$!context.getLocale()">

<head>

#set( $title = "#text($content.title) - eMediaLibrary")

  <title>$title</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <meta name="title" content="$title">
  <meta name="description" content="$content.description">
  <meta name="keywords" content="$content.keywords">
  <meta name="og:title" content="$title">
  <meta name="og:description" content="$content.description">
  <meta name="og:image" content="https://emedialibrary.com/theme/emedia-banner.png"> <!-- This needs to be full URL -->
  <meta name="og:url" content="https://emedialibrary.com">
  <meta name="og:site_name" content="eMediaLibrary">
  <meta name="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="$title">
  <meta name="twitter:description" content="$content.description">
  <meta name="twitter:image" content="https://emedialibrary.com/theme/emedia-banner.png"> <!-- This needs to be full URL -->
  <meta name="twitter:url" content="https://emedialibrary.com">
  <!-- <meta name="twitter:site" content="@eMediaLibrary">  --> <!-- Add twitter handle if there is one -->
  
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="7 days">
  <meta name="author" content="eMediaLibrary">

  <link rel="shortcut icon" href="https://emedialibrary.com/theme/favicon.ico" /> <!-- This should be a full URL -->

  <link rel="stylesheet" href="$sitelink/theme/css/font-awesome/all.min.css" />
  <link rel="stylesheet" href="$sitelink/theme/css/hs-mega-menu.min.css" />
  <link rel="stylesheet" href="$sitelink/theme/css/slick.css" />
  
  <link rel="stylesheet" href="$sitelink/app/components/javascript/bootstrap/5.2.1/css/bootstrap.min.css" />
  
  <link rel="stylesheet" href="$sitelink/theme/css/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="$sitelink/theme/css/aos.css" />
  <link rel="stylesheet" href="$sitelink/theme/css/custom.css" />
  <link rel="stylesheet" href="$sitelink/theme/css/desktop-library.css" />
  
  <script type="text/javascript" src="/openedit/components/javascript/formathtml.js" defer></script>
  <script type="importmap">
    {
      "imports": {
        "ckeditor5": "/openedit/components/javascript/ckeditor5/ckeditor5.js",
        "ckeditor5/": "/openedit/components/javascript/ckeditor5/"
      }
    }
  </script>
  <script type="module" src="/openedit/components/javascript/openedithtmleditor.js" defer></script>
  <link rel="stylesheet" type="text/css" href="/openedit/components/javascript/ckeditor5/ckeditor5.css" />
</head>

<body>
	<div id="application" class="bg-emdark" data-editmode='$!user.get("oe_edit_mode")' data-apphome="$!apphome" data-catalogid="$!content.catalogid" >
	    $pages.include("/website/views/layouts/header.html")
	
	    $pages.includeContent()
	
	    $pages.include("/website/views/layouts/footer.html")
	
	    ##$pages.include("/website/views/meeting-form.html")
	
	  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden"
	    data-hs-go-to-options='{
	       "offsetTop": 700,
	       "position": {
	         "init": {
	           "right": 15
	         },
	         "show": {
	           "bottom": 15
	         },
	         "hide": {
	           "bottom": -15
	         }
	       }
	     }'>
	    <i class="fas fa-angle-up"></i>
	  </a>
  </div>
  
  
  
  <script src="$sitelink/theme/js/gsap.min.js"></script>
  <script src="$sitelink/theme/js/MotionPathPlugin.min.js"></script>
  <script src="$sitelink/theme/js/animator.js"></script> 
  <script src="$sitelink/theme/js/jquery.min.js" onload="if (!window.jQuery) window.$ = window.jQuery = module.exports;"></script>
  <script src="$sitelink/theme/js/jquery-migrate.min.js"></script>
  ##<script src="$sitelink/theme/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" defer src="$sitelink/app/components/javascript/bootstrap/5.2.1/js/bootstrap.bundle.min.js" ></script>
  <script src="$sitelink/theme/js/datetimepicker.full.min.js"></script>
  <script src="$sitelink/theme/js/hs.core.js"></script>   
  <script src="$sitelink/theme/js/hs-header.min.js"></script>
  <script src="$sitelink/theme/js/hs-go-to.min.js"></script>
  <script src="$sitelink/theme/js/hs-mega-menu.min.js"></script>
  <script src="$sitelink/theme/js/jquery.validate.min.js"></script>
  <script src="$sitelink/theme/js/slick.js"></script>
  <script src="$sitelink/theme/js/hs.validation.js"></script>
  <script src="$sitelink/theme/js/hs.slick-carousel.js"></script>
  
  <script id="jquery-ajax" src="/website/app/components/javascript/liveajax/liveajax.js"></script>
  <script id="openedit" src="/openedit/components/javascript/openedit.js"></script>
  
  <script src="$sitelink/theme/js/aos.js"></script>
  <script src="$sitelink/theme/js/custom.js"></script>

  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
      document.write('<script src="$sitelink/theme/js/polifills.js"><\/script>');
  </script>
  
  <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-6YTM8J4987"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-6YTM8J4987');
	</script>
</body>

</html>
