<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart File Organizer - eMediaLibray</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" href="$apphome/assets/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="$apphome/assets/css/font-awesome/all.min.css" />
  <link rel="stylesheet" href="$apphome/assets/css/hs-mega-menu.min.css" />
  <link rel="stylesheet" href="$apphome/assets/css/slick.css" />
  <link rel="stylesheet" href="$apphome/assets/css/theme.css" />
	<link rel="stylesheet" href="$apphome/assets/css/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="$apphome/assets/css/aos.css" />
  <link rel="stylesheet" href="$apphome/assets/css/custom.css" />
</head>

<body>
    $pages.include("$apphome/views/layouts/header.html")

    $pages.includeContent()

    $pages.include("$apphome/views/layouts/footer.html")

    $pages.include("$apphome/views/meeting-form.html")

  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden"
    data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/MotionPathPlugin.min.js"></script>
  <script src="$apphome/assets/js/animator.js"></script> 
  <script src="$apphome/assets/js/jquery.min.js" onload="if (!window.jQuery) window.$ = window.jQuery = module.exports;"></script>
  <script src="$apphome/assets/js/jquery-migrate.min.js"></script>
  <script src="$apphome/assets/js/bootstrap.bundle.min.js"></script>
  <script src="$apphome/assets/js/datetimepicker.full.min.js"></script>
  <script src="$apphome/assets/js/hs.core.js"></script>   
  <script src="$apphome/assets/js/hs-header.min.js"></script>
  <script src="$apphome/assets/js/hs-go-to.min.js"></script>
  <script src="$apphome/assets/js/hs-unfold.min.js"></script>
  <script src="$apphome/assets/js/hs-mega-menu.min.js"></script>
  <script src="$apphome/assets/js/jquery.validate.min.js"></script>
  <script src="$apphome/assets/js/slick.js"></script>
  <script src="$apphome/assets/js/hs.validation.js"></script>
  <script src="$apphome/assets/js/hs.slick-carousel.js"></script>
  <script src="$apphome/assets/js/hs-video-player.min.js"></script>
  <script src="$apphome/assets/js/aos.js"></script>

  <script>
    $(document).on("ready", function() {
      var header = new HSHeader($("#header")).init();
      var megaMenu = new HSMegaMenu($(".js-mega-menu"), {
        desktop: {
          position: "left",
        },
      }).init();
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();
      $(".js-validate").each(function() {
        var validation = $.HSCore.components.HSValidation.init($(this));
      });
      $(".js-slick-carousel").each(function() {
        var slickCarousel = $.HSCore.components.HSSlickCarousel.init($(this));
      });
      $(".js-go-to").each(function() {
        var goTo = new HSGoTo($(this)).init();
      });
      $('.js-validate').each(function() {
        var validation = $.HSCore.components.HSValidation.init($(this));
      });
      $('.js-inline-video-player').each(function() {
        var videoPlayer = new HSVideoPlayer($(this)).init();
      });
      $("#timeSlot").change(function() {
        var timeSlot = $("#timeSlot option:selected").val();
        if(timeSlot === "custom") {
          $("#customTimeSlot").collapse("show");
          $(this).prop("required", false);
          $("#datetimepicker").prop("required", true);
        } else {
          $("#customTimeSlot").collapse("hide");
          $(this).prop("required", true);
          $("#datetimepicker").prop("required", false);
        }
      });
      $("#datetimepicker").datetimepicker({
        inline: true,
        minDate: new Date(),
        maxDate: new Date(new Date().setDate(new Date().getDate() + 30)),
      });
      $("input[name='meeting_method']").on("change", function() {
        if ($(this).val() == "videoconference") {
          $("#videoconference_message").collapse("show");
          $("#phonecall_message").collapse("hide");
          $("#phonenumber").prop("required", false);
        } else {
          $("#videoconference_message").collapse("hide");
          $("#phonecall_message").collapse("show");
          $("#phonenumber").prop("required", true);
        }
      });
      AOS.init({
        duration: 600,
        once: true,
      });
      function shuffleArray(array) {
        for (var i = array.length - 1; i > 0; i--) {
          var j = Math.floor(Math.random() * (i + 1));
          var temp = array[i];
          array[i] = array[j];
          array[j] = temp;
        }
        return array.join("");
      }
      function animateOrganize() {
    	var orig = $("#organize").text();
        var orgArr = orig.split('');//["O", "r", "g", "a", "n", "i", "z", "e"];
        var int = setInterval(function() {
          $("#organize").text(shuffleArray(orgArr));
        }, 200);
        setTimeout(function() {
          clearInterval(int);
          $("#organize").text(orig);
        }, 1500);
      }
      animateOrganize();
    });
  </script>
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
      document.write('<script src="$apphome/assets/js/polifills.js"><\/script>');
  </script>
</body>

</html>
