<footer>
  <div class="container">
    <div class="space-top-2 space-bottom-1 space-bottom-lg-2">
      <div class="row justify-content-lg-between">
        <div class="col-lg-3 ms-lg-auto mb-5 mb-lg-0">
          <div class="mb-3">
            <a href="#" aria-label="eMedia">
              <img class="brand" src="$sitelink/assets/images/logo.png" alt="Logo">
            </a>
          </div>
          <ul class="nav nav-sm nav-x-0 nav-white flex-column">
            <li class="nav-item">
              <a class="nav-link media" href="javascript:;">
                <span class="media">
                  <span class="fas fa-location-arrow mt-1 me-2"></span>
                  <span class="media-body">
                    7733 Shawnee Run Rd,<br />
                    Cincinnati, OH 45243 USA
                  </span>
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link media" href="tel:1-062-109-9222">
                <span class="media">
                  <span class="fas fa-phone-alt mt-1 me-2"></span>
                  <span class="media-body">
                    +1 (062) 109-9222
                  </span>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-3 col-lg mb-5 mt-lg-4 mb-lg-0">
          <h5 class="text-white">Sales</h5>
          <ul class="nav nav-sm nav-x-0 nav-white flex-column">
            <li class="nav-item">
				      <a href="$applink/meetingschedule/meeting-form.html" rel="nofollow" class="nav-link emdialog">
                <i class="far fa-calendar-alt"></i>
                <span class="ms-1">Schedule a Meeting</span>                  
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:sales@entermediadb.org">sales@entermediadb.org</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="tel:+1 (513) 898-2063">+1 (513) 898-2063</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 col-lg mb-5 mt-lg-4 mb-lg-0">
          <h5 class="text-white">Community</h5>
          <ul class="nav nav-sm nav-x-0 nav-white flex-column">
            <li class="nav-item"><a class="nav-link" target="_blank" href="https://groups.google.com/forum/#!forum/entermedia">Open
                Source Community</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-3 col-lg mb-5 mt-lg-4 mb-lg-0">
          <h5 class="text-white">Support</h5>
          <ul class="nav nav-sm nav-x-0 nav-white flex-column">
            <li class="nav-item"><a class="nav-link" href="mailto:help@entermediadb.org">help@entermediadb.org</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="space-bottom-1">
      <p class="text-white text-center opacity-sm small fw-thin">© <strong>eMedia Library</strong>. All rights reserved.</p>
    </div>
  </div>
</footer>
