@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Italic.ttf") format("truetype");
}

:root {
  --bg-color: #0c223b;
  --text-color: #ffffff;
  --text-color-dim: #d3d6d9;
}
body {
  background-color: var(--bg-color) !important;
  color: var(--text-color);
  font-family: Roboto, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.nav-link {
  color: var(--text-color);
}
h1 > u {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: #377dff;
  transition: color 0.2s ease;
}
h1 > u::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(65%);
  width: 100%;
  height: 23px;
  background-image: url(../assets/line.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(80%);
  filter: brightness(0) invert(1);
  transition: transform 0.2s ease;
}
h1 > u:hover {
  color: #ffffff;
}
h1 > u:hover::after {
  filter: none;
}
.navbar-toggler {
  background-color: #0d2847;
  color: #ffffff;
}
.navbar-toggler:hover {
  background-color: #11335a;
  color: #ffffff;
}
hr {
  border-color: #0d2847;
}
.padder {
  height: 68px;
}
@media screen and (max-width: 991px) {
  .padder {
    height: 0;
  }
}
.bg-navy {
  background-color: #0d2847 !important;
}
.text-navy {
  color: #0d2847 !important;
}
.header-section,
#contact,
footer {
  background-color: #0a172c;
}
.header-box-shadow-on-scroll.scrolled .header-section {
  box-shadow: 0 1px 10px rgb(11 23 44);
}
.hero-container .container {
  min-height: 800px;
  display: flex;
  margin-top: 120px;
  justify-content: center;
}
.hero-container .animation {
  top: 60px;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  object-fit: cover;
}
.text-body {
  color: var(--text-color-dim) !important;
}
.slick-list .card {
  background-color: #0c223b;
}
.slick-list .card-header {
  border-bottom: none;
}
.slick-list .card-body {
  border-radius: 0 0 0.25rem 0.25rem;
}
.shadow-sm {
  box-shadow: 0px 12px 15px rgb(11 23 44) !important;
}
.js-slide .card-body {
  padding: 1rem;
}
.clients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.clients-container img {
  height: auto;
  margin: 2rem;
}
.main-hero {
  width: 100%;
  max-width: 740px;
  max-height: 350px;
  margin: 0 auto;
  background-color: rgba(132, 132, 132, 0.05);
  backdrop-filter: blur(5px);
  padding: 40px;
  border-radius: 8px;
}
.main-hero img {
  width: 140px;
  height: 140px;
}
.shape {
  position: absolute;
}
.shape-1 {
  left: calc(50% - 65px);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 65px;
  height: 65px;
  background-color: transparent;
  border-radius: 50%;
  border: 20px solid #247d9d;
}
.shape-2 {
  left: calc(50% - 96px);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -3;
  width: 32.5px;
  height: 32.5px;
  background: transparent;
  border-radius: 50%;
  border: 20px solid #3696b2;
}
.shape-3 {
  right: calc(50% - 132px);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 65px;
  height: 65px;
  background-color: transparent;
  border-radius: 50%;
  border: 20px solid #247d9d;
}
.shape-4 {
  right: calc(50% - 138px);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -3;
  width: 32.5px;
  height: 32.5px;
  background: transparent;
  border-radius: 50%;
  border: 20px solid #3696b2;
}
.has-circle {
  position: relative;
  top: -250px;
}
.custom-control input:checked ~ .custom-control-label {
  color: #377dff;
}
.navbar-promo-link .media {
  min-height: 70px;
}
.nav-link.active {
  color: #377dff;
  position: relative;
}
.nav-link.active::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 1rem;
  transform: translateY(65%);
  width: 100%;
  height: 2px;
  background-color: #377dff;
}
.modal.show {
  backdrop-filter: blur(10px);
}
.partners {
  width: 100%;
  min-width: 576px;
  overflow-x: hidden;
}
.partners .js-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 105px;
}
.slider {
  transition: opacity 2000s ease-in-out;
  opacity: 1;
}
.pitch-deck-slide {
  height: 720px;
}
.features .row {
  padding: 24px;
}
.features .row:nth-child(even) {
  flex-direction: row-reverse;
}
code {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.navbar-nav .nav-link,
.navbar-nav .btn-xs {
  font-size: 0.9rem;
  /* font-weight: 700; */
}
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  left: -10px;
}
.navbar-nav .dropdown-item a {
  display: block;
}
.platforms .card-header {
  padding: 0;
  background-color: #0c223b;
}
.platforms .card-body {
  background-color: #113366;
}
.platforms .avatar {
  width: 150px;
  height: 150px;
}
.platforms .avatar-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  object-fit: contain;
  object-position: center;
}
.fw-thin {
  font-weight: 300;
}
.action-btn i.fas {
  margin-right: 0.25rem;
}
.js-header-fix-moment .action-btn span {
  display: none;
}
.js-header-fix-moment .action-btn i.fas {
  margin-right: 0;
}
.documentation {
  margin-top: 72px;
  color: #111;
}
.documentation h1,
.documentation h2,
.documentation h3,
.documentation h4 {
  color: #000;
  margin: 0.5em 0 1em;
}

#sidebarNav .dropdown-item {
  white-space: normal;
}
#sidebarNav .current {
  font-weight: bold;
  color: #215189;
}
.key-ft h3 {
  color: #2a5cab;
}
@media (max-width: 1280px) {
  .pitch-deck-slide {
    height: 500px;
  }
}
@media (max-width: 912px) {
  .pitch-deck-slide {
    height: 300px;
  }
}
@media (max-width: 550px) {
  .pitch-deck-slide {
    height: 200px;
  }
}
@media (max-width: 768px) {
  h1 > u::after {
    display: none;
  }
  .hero-container .container {
    min-height: 640px;
  }
  .divider::before,
  .divider::after {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-expand-lg.navbar {
    padding: 0;
  }
  .hero-container .container {
    margin-top: 0;
  }
  .header-bg-transparent .navbar-nav,
  .header-bg-transparent-sm .navbar-nav,
  .header-bg-transparent-md .navbar-nav,
  .header-bg-transparent-lg .navbar-nav {
    background-color: #0d2847;
    padding: 0.875rem 1.5rem;
  }
  .nav-link.active::after {
    display: none;
  }
  .action-btn {
    margin-top: 8px;
  }
  main#documentation {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .navbar-nav .nav-link {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-link.active::after {
    bottom: 1rem;
  }
  .navbar-brand,
  .navbar-brand > img {
    height: 72px;
    width: 128px;
    margin: 0;
    padding: 0 8px;
    object-fit: contain;
  }
  .navbar-nav .nav-link {
    height: 72px;
  }
  .header-bg-transparent-lg:not(.js-header-fix-moment) .header-section {
    background-color: #0a172c;
  }
}

.circle {
  padding: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #2a5cab;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ffffff;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #ffffff;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #ffffff;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

.hosting-features .thumb {
  margin: 0 16px;
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.thumb img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.hosting-features h3 {
  margin-bottom: 4px;
  font-size: 1.1rem;
}
.hosting-features p {
  margin: 0;
  line-height: 1.2;
  font-size: 0.9rem;
}
.hosting-features > div {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.hosting-features > div:nth-of-type(odd) {
  flex-direction: row-reverse;
  text-align: right;
}
.hosting-features .desc {
  font-family: "Open Sans", sans-serif;
  flex: 1;
}
.hero-img {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  object-fit: contain;
  object-position: right;
}
#introDiv {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100vh;
}
.animation {
  margin: 30px 0 0 0;
}
#animation-container {
  height: calc(100vh - 68px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #0c223b;
  position: relative;
  /* background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #000 0,
    #000 1px,
    #050c15 0,
    #050c15 50%
  ); */
  /* animation: rotate 10s linear infinite alternate; */
}
@keyframes rotate {
  from {
    background-size: 8px 8px;
  }
  to {
    background-size: 15px 15px;
  }
}
@media screen and (max-width: 600px) {
  #animation-container {
    height: 600px;
  }
  .backdrop-rect {
    display: none;
  }
}
text#intro {
  fill: #fff;
  font: bold 72px Arial;
}
svg#animation {
  width: 100%;
  min-width: 800px;
  height: 100%;
}
#emedia {
  width: 300px;
  height: 300px;
  margin: 0;
  opacity: 0.5;
}
#spirals path {
  display: none;
  /* stroke: red; */
  /* transform: translate(50px, 50px); */
}
.an-img {
  position: absolute;
  border: 2px solid #30aad6;
  border-radius: 50%;
  overflow: hidden;
}
.an-img.img-1x {
  width: 80px;
  height: 80px;
}
.an-img.img-2x {
  width: 160px;
  height: 160px;
  border-radius: 80px;
}
.an-img.img-3x {
  width: 240px;
  height: 240px;
  border-radius: 120px;
}
.img-folder {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 0;
}
.an-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

svg #images image {
  opacity: 0.25;
  transition: opacity 0.25s ease-in-out;
}
svg #images image.glow {
  opacity: 1;
  -webkit-filter: drop-shadow(0 0 10px #30aad6);
  filter: drop-shadow(0 0 10px #30aad6);
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-request {
  position: relative;
  z-index: 2;
}
.form-field-email {
  position: absolute;
  left: -1000px;
  z-index: 1;
}
.captions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.captions > div {
  position: relative;
  height: 200px;
}
.captions > div .candidate {
  position: absolute;
  .overflow-x,
  .overflow-y,
  .overflow-xy,
  .scrollview,
  .table-autoresize-inner,
  .emselectablemodule {
    scrollbar-width: thin;
    scrollbar-color: #8090b3 #efefef;
  }
  .overflow-x::-webkit-scrollbar,
  .overflow-y::-webkit-scrollbar,
  .overflow-xy::-webkit-scrollbar,
  .scrollview::-webkit-scrollbar,
  .table-autoresize-inner::-webkit-scrollbar,
  .emselectablemodule::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #efefef;
  }
  .overflow-x::-webkit-scrollbar-thumb,
  .overflow-y::-webkit-scrollbar-thumb,
  .overflow-xy::-webkit-scrollbar-thumb,
  .scrollview::-webkit-scrollbar-thumb,
  .table-autoresize-inner::-webkit-scrollbar-thumb,
  .emselectablemodule::-webkit-scrollbar-thumb {
    background-color: #8090b3;
  }
  .overflow-x::-webkit-scrollbar-track,
  .overflow-y::-webkit-scrollbar-track,
  .overflow-xy::-webkit-scrollbar-track,
  .scrollview::-webkit-scrollbar-track,
  .table-autoresize-inner::-webkit-scrollbar-track,
  .emselectablemodule::-webkit-scrollbar-track {
    background-color: #efefef;
  }
  .modal-content {
    height: 100% !important;
  }
  .modal-content .space-2 {
    overflow-y: auto !important;
  }
  .form-request {
    position: relative;
    z-index: 2;
  }
  .form-field-email {
    position: absolute;
    left: -1000px;
    z-index: 1;
  }

  left: 50%;
  transform: translateX(-50%);
}
#test {
  text-align: center;
}
.captionText {
  /* stroke-width: 1; */
  /* stroke: #000; */
  fill: #fff;
  filter: drop-shadow(0 0 4px #30aad6) drop-shadow(4px 4px 0 #000);
}
.gradient-bg {
  height: 50px;
  background: linear-gradient(to bottom, transparent 0%, #0f2747 100%);
  position: absolute;
  left: 0;
  top: -50px;
  width: 100%;
}

.login-area .text-error {
  background-color: #660000;
}

.userchatbox .chatterbox {
  height: 100%;
}
.chatterbox-messages {
  height: calc(100% - 68px);
  min-height: 250px;
}
