body {
  background: #0c223b !important;
  font-family: Roboto, sans-serif !important;
}
.profile-image {
  width: 200px;
  height: 200px;
  margin: 16px 0;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #2962a1;
}
.profile-credentials {
  padding: 0 16px;
  border-radius: 16px;
  background-color: #0d2847;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
}
.profile-credentials h1 {
  font-size: 2.2rem;
  margin: 0 !important;
  font-family: Roboto, sans-serif !important;
  line-height: 1;
  border-left: 8px solid #2962a1;
  padding-left: 16px;
}
.profile-credentials .email {
  margin: 16px 0 4px;
  font-size: 1rem;
}
/* .profile-credentials .position { 
  margin: 0 !important;  
  font-family: Roboto, sans-serif !important;
} */

.edit-profile {
  position: absolute;
  top: 16px;
  right: 16px;
}
h2.subscriptions {
  font-size: 1.2rem;
  padding: 1rem 0;
  margin: 0;
  border-top: 1px solid #2962a1;
}
.sub {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}
a.sub-link {
  color: #377dff;
  text-decoration: none;
}
.profile-chat {
  height: 100%;
  min-height: 600px;
  background-color: #13345b;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h2.pf-chat-header {
  font-family: Roboto, sans-serif !important;
  font-size: 1.3rem;
  margin: 0;
  background-color: #0d2847;
  padding: 8px;
  text-align: center;
}
.chat-messages {
  flex: 1;
  min-height: 400px;
  max-height: 600px;
  overflow-y: auto;
  padding: 8px;
  display: flex;
  flex-direction: column-reverse;
  scrollbar-width: thin;
  scrollbar-color: #2962a1 #13345b;
}
.chat-messages::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #13345b;
}
.chat-messages::-webkit-scrollbar-thumb {
  background-color: #2962a1;
}
.chat-messages::-webkit-scrollbar-track {
  background-color: #13345b;
}
.chat-message {
  margin: 8px;
}
.chat-message.me {
  text-align: right;
}
.chat-message .timestamp {
  font-size: smaller;
  color: #eee;
  line-height: 1;
  margin-top: 8px;
  text-align: right;
}
.chat-message-content {
  position: relative;
  padding: 8px;
  border-radius: 8px;
  border-top-left-radius: 0;
  background-color: #377dff;
  color: white;
  display: inline-block;
  max-width: 80%;
}
.chat-message-content p {
  margin: 0;
}
.chat-message.me .chat-message-content {
  background-color: #294769;
  border-top-left-radius: 8px;
  border-top-right-radius: 0;
}
.chat-message-content::after {
  position: absolute;
  left: -10px;
  top: 0;
  content: "";
  width: 10px;
  height: 10px;
  color: red;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath d='M30,0H.6A.58.58,0,0,0,.18,1L30,30Z' fill='%23377dff'/%3E%3C/svg%3E");
}
.chat-message.me .chat-message-content::after {
  left: auto;
  right: -10px;
  transform: scaleX(-1);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath d='M30,0H.6A.58.58,0,0,0,.18,1L30,30Z' fill='%23294669'/%3E%3C/svg%3E");
}
.chat-message-content video,
.chat-message-content img {
  width: 100%;
  height: auto;
}
.chat-message-content object {
  width: min-content;
  height: min-content;
}
.chat-input {
  display: flex;
  background-color: #0d2847;
  position: relative;
}
.chat-input button {
  cursor: pointer;
}
