.hero-container {
    position: relative;
    width: 100%;
    height: 900px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    color: #fff; 
}
.hero-container.footer {
    height: 720px;  
}
.hero-container img.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-text {
    position: absolute;   
    padding: 0 50px 50px 50px;
}
.hero-text h1 {
    font-size: 3.5rem;
    margin: 0;
    margin-bottom: 16px;
    font-weight: normal;
    max-width: 800px;
    color: white;
}
.footer-hero-text {
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.footer-hero-text .quote {
    font-size: 2.5rem;
    margin-bottom: 16px;
    font-weight: normal;
    max-width: 90%;
    line-height: 1;
    font-style: italic;
}
.footer-hero-text .author {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: right;
}
.btn {
    display: inline-block; 
    border: none;
    border-radius: 0;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 16px 24px;
}
.btn.btn-white {
    background-color: #fff;
}
.btn.btn-white:hover {
    color: #000;
    background-color: #f2f2f2;
}
.btn.btn-navy {
    background-color: #001f3f;
    color: #fff;
}
.btn.btn-navy:hover {
    color: #fff;
    background-color: #003366;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.bg-light{
    background-color: #dfdfdf;
}
.mission {
    padding: 100px 0;
    text-align: center;
}
.mission h2 {
    font-size: 2rem;
    margin-bottom: 16px;
    font-weight: normal;
}
.lead {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 16px;
}
.track-list {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
}
.track {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    flex-wrap: wrap-reverse;
    height: 600px;
    margin: 2rem 0;
}
.track.reversed {
    flex-direction: row-reverse;
}
.track .thumbnail {
    flex: 1;
    height: 100%;
    max-width: 500px; 
    object-fit: cover;
    margin-left: 16px;
}
.track.reversed .thumbnail {
    margin-left: 0;
    margin-right: 16px;
}
.track .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}
.track article {
    flex: 1;
    padding: 0 50px;
}
.track article h3 {
    font-size: 2.5rem;
    margin-bottom: 16px;
    font-weight: normal;
}
.track article p {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 16px;
}

.call-to-action {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
        max-width: 600px;
    margin: 0 auto;
}
.call-to-action h2 {
    font-size: 1.2rem;
    text-transform: none;
    margin-bottom: 16px;
    font-weight: normal;
    color: #444444;
    text-align: center;
}
.subscription {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-bottom: 8px;
}
.subscription input {
    padding: 16px;
    font-size: 1.2rem;
    flex: 1;
    margin-right: 8px;
    border: 1px solid #ccc;
}